language: julia
os:
    - linux
    - osx
julia:
    - 0.5
notifications:
    email: false
sudo: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.test("RandomForest", coverage=true)'
after_success:
    - julia -e 'cd(Pkg.dir("RandomForest")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
    - julia -e 'Pkg.add("Documenter")'
    - julia -e 'cd(Pkg.dir("RandomForest")); include(joinpath("docs", "make.jl"))'
